@use 'sass:math';
@use 'sass:map';

@function hue-from-rvb($r, $v, $b) {
  $tone: (
    'r': $r,
    'g': $v,
    'b': $b,
  );
  $tone-m: (
    'r': math.div(map.get($tone, 'r'), 255),
    'g': math.div(map.get($tone, 'g'), 255),
    'b': math.div(map.get($tone, 'b'), 255),
  );
  $max: math.max(map.get($tone-m, 'r'), map.get($tone-m, 'g'), map.get($tone-m, 'b'));
  $min: math.min(map.get($tone-m, 'r'), map.get($tone-m, 'g'), map.get($tone-m, 'b'));
  $hue: 0;

  @if $max == $min {
    $hue: 0;
  } @else if $max == map.get($tone-m, 'r') {
    $hue: (map.get($tone-m, 'g') - map.get($tone-m, 'b')) / ($max - $min);
  } @else if $max == map.get($tone-m, 'g') {
    $hue: 2 + math.div(map.get($tone-m, 'b') - map.get($tone-m, 'r'), $max - $min);
  } @else if $max == map.get($tone-m, 'b') {
    $hue: 4 + math.div(map.get($tone-m, 'r') - map.get($tone-m, 'g'), $max - $min);
  }

  @return math.round($hue * 60);
}
