@use 'sass:math';
@use 'sass:map';

@mixin theme($theme) {
  &[data-theme='#{$theme}'] {
    @content;
  }
}

@mixin dark() {
  @include theme('dark') {
    @content;
  }
}

@mixin light() {
  @include theme('light') {
    @content;
  }
}

@mixin root-theme() {
  /*
  CSS Variables are described like this :
  {$identifier}-{$value}-{$effect}
  Example : --mk-input-border-size-hover
  $identifier : --mk-input-border-color
  $value : size
  $effect : hover
  */

  // Primary
  // --mk-primary-50: 255 236 229;
  // --mk-primary-100: 255 216 204;
  // --mk-primary-200: 255 177 153;
  // --mk-primary-300: 255 139 102;
  // --mk-primary-400: 255 100 51;
  // --mk-primary-500: 255 61 0;
  // --mk-primary-600: 204 49 0;
  // --mk-primary-700: 153 37 0;
  // --mk-primary-800: 102 24 0;
  // --mk-primary-900: 51 12 0;
  // --mk-primary-950: 25 6 0;

  // Grey
  --mk-grey-50: 231 234 238;
  --mk-grey-100: 216 221 227;
  --mk-grey-200: 186 194 206;
  --mk-grey-300: 157 168 184;
  --mk-grey-400: 127 142 163;
  --mk-grey-500: 100 116 139;
  --mk-grey-600: 79 91 109;
  --mk-grey-700: 57 66 80;
  --mk-grey-800: 36 42 50;
  --mk-grey-900: 15 17 20;
  --mk-grey-950: 4 5 6;

  // --shade0-hsl: var(--hue) 24% 93%;
  // --shade1-hsl: var(--hue) 26% 70%;
  // --shade2-hsl: var(--hue) 23% 62%;
  // --shade3-hsl: var(--hue) 19% 56%;
  // --shade4-hsl: var(--hue) 24% 46%;
  // --shade5-hsl: var(--hue) 25% 27%;
  // --shade6-hsl: var(--hue) 36% 23%;
  // --shade7-hsl: var(--hue) 35% 17%;
  // --shade8-hsl: var(--hue) 35% 15%;
  // --shade9-hsl: var(--hue) 42% 12%;
  // --shade10-hsl: var(--hue) 61% 7%;

  // Utils
  // --mk-white: 255 255 255;
  // --mk-black: 0 0 0;
  --mk-red-hsl: 358 100% 64%;
  --mk-blue-hsl: 205 100% 48%;
  --mk-green-hsl: 119 64% 45%;
  --mk-orange-hsl: 33 96% 58%;

  // App

  // definitions
  // 'Roboto Flex';
  --mk-font-family-base: -apple-system, 'BlinkMacSystemFont', ubuntu, sans-serif;

  // --mk-font-family-fallback: oxygen, ubuntu, ;
  --mk-font-family: var(--mk-font-family-base); // , var(--mk-font-family-fallback);
  --mk-font-size: 100%;
  --mk-line-height: 1.1875;

  // Layout
  $m: 0.25rem;

  @for $i from 1 through 24 {
    --mk-size-#{$i}: #{$m * $i};
  }

  // Shapes 1,1.4,2
  --mk-border-size: 0.0625rem;
  --mk-border-size-hover: 0.0875rem;
  --mk-border-size-active: 0.125rem;
  --mk-border-radius-size: 0.375rem;
  --mk-opacity-disabled: 0.4;

  // Transitions
  --mk-transition-1-duration: 128ms;
  --mk-transition-2-duration: 256ms;
  --mk-transition-3-duration: 512ms;
  --mk-transition-background-duration: var(--mk-transition-2-duration);
  --mk-transition-color-duration: var(--mk-transition-2-duration);
  --mk-transition-opacity-duration: var(--mk-transition-2-duration);
  --mk-transition-transform-duration: var(--mk-transition-2-duration);

  // Inputs
  --mk-input-border-color: var(--mk-border-color);
  --mk-input-border-color-hover: var(--mk-border-color-hover);
  --mk-input-border-color-active: var(--mk-border-color-active);
  --mk-input-border-radius-size: var(--mk-border-radius-size);
  --mk-input-border-size: var(--mk-border-size);
  --mk-input-border-size-hover: var(--mk-border-size-hover);
  --mk-input-border-size-active: var(--mk-border-size-active);
  --mk-input-text-size: 0.875rem;
  --mk-input-line-height: 1.2;
  --mk-input-opacity-disabled: 0.6;
  --mk-input-padding-x-size: var(--mk-size-3);
  --mk-input-padding-y-size: var(--mk-size-3);
  --mk-input-spacing-size: var(--mk-size-2);
  --mk-input-icon-size: 1.25rem;

  // Layers
  --mk-fullscreen-layer-order: 1000;
  --mk-floating-layer-order: 1100;
}

@mixin light-theme() {
  color-scheme: light;

  --mk-surface-low-background-color: var(--mk-grey-50);
  --mk-surface-background-color: var(--mk-grey-100);
  --mk-surface-high-background-color: var(--mk-grey-200);
  --mk-surface-border-color: var(--mk-grey-300);

  // Text

  --mk-text-color: var(--mk-grey-900);
  --mk-text-soft-color: var(--mk-grey-600);

  // // Tone feedback
  // --mk-info-color: var(--c-blue);
  // --mk-info-color-soft: rgb(var(--c-tone-blue) / 5%);
  // --mk-success-color: var(--c-green);
  // --mk-success-color-soft: rgb(var(--c-tone-green) / 5%);
  // --mk-warning-color: var(--c-orange);
  // --mk-warning-color-soft: rgb(var(--c-tone-orange) / 5%);
  // --mk-error-color: var(--c-red);
  // --mk-error-color-soft: rgb(var(--c-tone-red) / 5%);

  --mk-border-color: var(--mk-grey-700);
  --mk-border-color-hover: var(--mk-grey-800);
  --mk-border-color-active: var(--mk-grey-900);

  // Inputs

  --mk-input-text-color: var(--mk-grey-900);
  --mk-input-placeholder-text-color: var(--mk-grey-900) / 40%;
  --mk-input-icon-color: var(--mk-grey-900);

  // Input Background
  --mk-input-background-color: var(--mk-grey-900) / 5%;
  --mk-input-background-color-hover: transparent;

  // Utils as functions
  --mk-info-color: var(--mk-blue);
  --mk-info-soft-color: var(--mk-blue) / 5%;
  --mk-success-color: var(--mk-green);
  --mk-success-soft-color: var(--mk-green) / 5%;
  --mk-warning-color: var(--mk-orange);
  --mk-warning-soft-color: var(--mk-orange) / 5%;
  --mk-error-color: var(--mk-red);
  --mk-error-soft-color: var(--mk-red) / 5%;
}

@mixin dark-theme() {
  color-scheme: dark;

  $mk-shade-hue: 260deg;
  $mk-shade-chroma: 0.015;
  $mk-shade-lights: (
    // 0. Background
    0: 14%,
    // 1. Background
    1: 17.571%,
    // 2. Background
    2: 19.754%,
    // 3. Background
    3: 22.055%,
    // 4. Border
    4: 28.41%,
    // 5. Border
    5: 34.353%,
    // 6.
    6: 37.376%,
    // 7. Border
    7: 41.212%,
    // 8. Soft text
    8: 64.247%,
    // 9. alt text
    9: 76.061%,
    // 10. Main text
    10: 94.372%
  );

  --mk-shade-hue: #{$mk-shade-hue};
  --mk-shade-chroma: #{$mk-shade-chroma};

  @for $i from 0 through 10 {
    --mk-shade-#{$i}-light: #{map.get($mk-shade-lights, $i)};
    --mk-shade-#{$i}-chroma: #{$mk-shade-chroma};
    --mk-shade-#{$i}-lch: var(--mk-shade-#{$i}-light) var(--mk-shade-#{$i}-chroma) var(--mk-shade-hue);
    --mk-shade-#{$i}: oklch(var(--mk-shade-#{$i}-lch));
    --mk-shade-#{$i}-75: oklch(var(--mk-shade-#{$i}-lch) / 75%);
    --mk-shade-#{$i}-50: oklch(var(--mk-shade-#{$i}-lch) / 50%);
    --mk-shade-#{$i}-25: oklch(var(--mk-shade-#{$i}-lch) / 25%);
    --mk-shade-#{$i}-15: oklch(var(--mk-shade-#{$i}-lch) / 15%);
  }

  $mk-colors: (
    'primary': (
      'light': 75.424%,
      'chroma': 0.1577,
      'hue': 45.832deg,
    ),
    'on-primary': (
      'light': var(--mk-shade-1-light),
      'chroma': var(--mk-shade-1-chroma),
      'hue': var(--mk-shade-hue),
    ),
    'success': (
      'light': 72.3%,
      'chroma': 0.219,
      'hue': 149.579deg,
    ),
    'error': (
      'light': 63.7%,
      'chroma': 0.237,
      'hue': 25.331deg,
    ),
    'danger': (
      'light': 76.9%,
      'chroma': 0.1888,
      'hue': 70.08deg,
    ),
    'info': (
      'light': 62.3%,
      'chroma': 0.214,
      'hue': 259.815deg,
    ),
  );

  @each $color-name, $color in $mk-colors {
    @each $prop-name, $prop in $color {
      --mk-#{$color-name}-#{$prop-name}: #{$prop};
    }

    --mk-#{$color-name}-lch: var(--mk-#{$color-name}-light)
      var(--mk-#{$color-name}-chroma)
      var(--mk-#{$color-name}-hue);
    --mk-#{$color-name}: oklch(var(--mk-#{$color-name}-lch));
    --mk-#{$color-name}-75: oklch(var(--mk-#{$color-name}-lch) / 75%);
    --mk-#{$color-name}-50: oklch(var(--mk-#{$color-name}-lch) / 50%);
    --mk-#{$color-name}-25: oklch(var(--mk-#{$color-name}-lch) / 25%);
    --mk-#{$color-name}-15: oklch(var(--mk-#{$color-name}-lch) / 15%);
  }

  // Core
  --mk-core-background-color: var(--mk-shade-0);

  // Surface
  --mk-surface-low-background-color: var(--mk-shade-1);
  --mk-surface-background-color: var(--mk-shade-2);
  --mk-surface-high-background-color: var(--mk-shade-3);
  --mk-surface-border-color: var(--mk-shade-4);

  // Text

  --mk-text-color: var(--mk-shade-10);
  --mk-text-soft-color: var(--mk-shade-8);

  // Tone feedback
  // --mk-info-color: var(--c-blue);
  // --mk-info-color-soft: rgb(var(--c-tone-blue) / 10%);
  // --mk-success-color: var(--c-green);
  // --mk-success-color-soft: rgb(var(--c-tone-green) / 10%);
  // --mk-warning-color: var(--c-orange);
  // --mk-warning-color-soft: rgb(var(--c-tone-orange) / 10%);
  // --mk-error-color: var(--c-red);
  // --mk-error-color-soft: rgb(var(--c-tone-red) / 10%);

  --mk-border-color: var(--mk-shade-5);
  --mk-border-color-hover: var(--mk-shade-7);
  --mk-border-color-active: var(--mk-primary);

  // Inputs

  --mk-input-text-color: var(--mk-text-color);
  --mk-input-placeholder-text-color: var(--mk-text-soft-color);
  --mk-input-icon-color: var(--mk-shade-9);
  --mk-input-background-color: var(--mk-shade-4-15);
  --mk-input-background-color-hover: transparent;

  // Utils as functions
  --mk-info-color: hsl(var(--mk-blue-hsl));
  --mk-info-soft-color: hsl(var(--mk-blue-hsl) / 10%);
  --mk-success-color: hsl(var(--mk-green-hsl));
  --mk-success-soft-color: hsl(var(--mk-green-hsl) / 10%);
  --mk-warning-color: hsl(var(--mk-orange-hsl));
  --mk-warning-soft-color: hsl(var(--mk-orange-hsl) / 10%);
  --mk-error-color: hsl(var(--mk-red-hsl));
  --mk-error-soft-color: hsl(var(--mk-red-hsl) / 10%);
}
