// @use '@skgn/melkor-nuxt/styles/variables';

// @use '@skgn/melkor-nuxt/styles/mixins' as melkor;
@use '@skgn/melkor-nuxt/styles' with (
  $mk-dark-primary: (
    'light': 66%,
    'chroma': 0.1882,
    'hue': 22deg,
  )
);

// @use '@skgn/melkor-nuxt/styles/css';

// @use '@skgn/melkor-nuxt/styles/variables';

:root {
  --app-container-width: calc(1400px + var(--mk-size-4) * 2);
  --app-container-padding-x: var(--mk-size-4);
}

// * {
//   @include melkor.dark {
//     // @include melkor.generate-lch-color('primary', 66%, 0.1882, 22deg);
//   }
// }

// $mk-shade-hue: 268deg;
// $mk-shade-chroma: 0.025;
