html {
  box-sizing: border-box;
  font-size: var(--mk-font-size);
  line-height: var(--mk-line-height);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--mk-font-family);
  color: var(--mk-text-color);
  background-color: var(--mk-core-background-color);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-weight: 500;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  text-align: left;
  appearance: none;
  background: transparent;
  border: none;

  &:disabled {
    color: currentcolor;
  }
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

[data-scrollbar-hidden] {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-scrollbar-hidden]::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
