@use 'sass:math';
@use 'sass:map';
@use '../abstract/theme' as theme;
@use '../abstract/common' as common;
@use './variables' as variables;

:root {
  /*
  CSS Variables are described like this :
  {$identifier}-{$value}-{$effect}
  Example : --mk-input-border-size-hover
  $identifier : --mk-input-border-color
  $value : size
  $effect : hover
  */

  // App

  // definitions
  --mk-font-family-base: -apple-system, 'BlinkMacSystemFont', ubuntu, sans-serif;

  // --mk-font-family-fallback: oxygen, ubuntu, ;
  --mk-font-family: var(--mk-font-family-base); // , var(--mk-font-family-fallback);
  --mk-font-size: 100%;
  --mk-line-height: 1.1875;

  // Layout
  $m: 0.25rem;

  @for $i from 1 through 24 {
    --mk-size-#{$i}: #{$m * $i};
  }

  // Shapes 1px, 1.4px, 2px
  --mk-border-size: 0.0625rem;
  --mk-border-size-hover: 0.0875rem;
  --mk-border-size-focused: 0.125rem;
  --mk-border-size-active: 0.125rem;
  --mk-border-radius-size: 0.375rem;
  --mk-opacity-disabled: 0.4;

  // Transitions
  --mk-transition-1-duration: 128ms;
  --mk-transition-2-duration: 256ms;
  --mk-transition-3-duration: 512ms;
  --mk-transition-background-duration: var(--mk-transition-2-duration);
  --mk-transition-color-duration: var(--mk-transition-2-duration);
  --mk-transition-opacity-duration: var(--mk-transition-2-duration);
  --mk-transition-transform-duration: var(--mk-transition-2-duration);

  // Inputs
  --mk-input-border-color: var(--mk-border-color);
  --mk-input-border-color-hover: var(--mk-border-color-hover);
  --mk-input-border-color-focused: var(--mk-border-color-focused);
  --mk-input-border-color-active: var(--mk-border-color-active);
  --mk-input-border-radius-size: var(--mk-border-radius-size);
  --mk-input-border-size: var(--mk-border-size);
  --mk-input-border-size-hover: var(--mk-border-size-hover);
  --mk-input-border-size-focused: var(--mk-border-size-focused);
  --mk-input-border-size-active: var(--mk-border-size-active);
  --mk-input-text-size: 0.875rem;
  --mk-input-line-height: 1.2;
  --mk-input-opacity-disabled: 0.6;
  --mk-input-padding-x-size: var(--mk-size-3);
  --mk-input-padding-y-size: var(--mk-size-3);
  --mk-input-spacing-size: var(--mk-size-2);
  --mk-input-icon-size: 1.25rem;

  // Layers
  --mk-fullscreen-layer-order: 1000;
  --mk-floating-layer-order: 1100;

  // Colors

  // Core
  --mk-core-background-color: var(--mk-shade-0);

  // Surface
  --mk-surface-low-background-color: var(--mk-shade-1);
  --mk-surface-background-color: var(--mk-shade-2);
  --mk-surface-high-background-color: var(--mk-shade-3);
  --mk-surface-border-color: var(--mk-shade-4);

  // Text

  --mk-text-color: var(--mk-shade-10);
  --mk-text-soft-color: var(--mk-shade-8);

  // Border
  --mk-border-color: var(--mk-shade-5);
  --mk-border-color-hover: var(--mk-shade-7);
  --mk-border-color-focused: var(--mk-primary);
  --mk-border-color-active: var(--mk-primary);

  // Inputs

  --mk-input-text-color: var(--mk-text-color);
  --mk-input-placeholder-text-color: var(--mk-text-soft-color);
  --mk-input-icon-color: var(--mk-shade-9);
  --mk-input-background-color: var(--mk-shade-4-15);
  --mk-input-background-color-hover: transparent;
  --mk-input-background-color-focused: transparent;

  // Indexes
  --mk-fullscreen-layer-z-index: 1000;
  --mk-floating-layer-z-index: 1100;
}

* {
  @include theme.light {
    color-scheme: light;

    @for $i from 0 through 10 {
      @include common.generate-lch-color(
        #{'shade-' + $i},
        map.get(variables.$mk-light-shade-lights, $i),
        variables.$mk-light-shade-chroma,
        variables.$mk-light-shade-hue
      );
    }

    $mk-colors: (
      'primary': variables.$mk-light-primary,
      'on-primary': variables.$mk-light-on-primary,
      'success': variables.$mk-light-success,
      'error': variables.$mk-light-error,
      'danger': variables.$mk-light-danger,
      'info': variables.$mk-light-info,
    );

    @each $color-name, $color in $mk-colors {
      @each $prop-name, $prop in $color {
        --mk-#{$color-name}-#{$prop-name}: #{$prop};
      }

      @include common.generate-lch-color(
        $color-name,
        map.get($color, 'light'),
        map.get($color, 'chroma'),
        map.get($color, 'hue')
      );
    }
  }

  @include theme.dark {
    color-scheme: dark;

    // $mk-shade-hue: 268deg;
    // $mk-shade-chroma: 0.025;

    @for $i from 0 through 10 {
      @include common.generate-lch-color(
        #{'shade-' + $i},
        map.get(variables.$mk-dark-shade-lights, $i),
        variables.$mk-dark-shade-chroma,
        variables.$mk-dark-shade-hue
      );
    }

    $mk-colors: (
      'primary': variables.$mk-dark-primary,
      'on-primary': variables.$mk-dark-on-primary,
      'success': variables.$mk-dark-success,
      'error': variables.$mk-dark-error,
      'danger': variables.$mk-dark-danger,
      'info': variables.$mk-dark-info,
    );

    @each $color-name, $color in $mk-colors {
      @each $prop-name, $prop in $color {
        --mk-#{$color-name}-#{$prop-name}: #{$prop};
      }

      @include common.generate-lch-color(
        $color-name,
        map.get($color, 'light'),
        map.get($color, 'chroma'),
        map.get($color, 'hue')
      );
    }
  }
}
